<form id="comment-form">
    <label>leave your comment
        <textarea id="commentarea" rows="3" cols="40"></textarea>
    </label>
    <input id="add" type="submit" value="add new comment"/> {{!--
    <input id="change" type="submit" value="change comment" /> --}}
</form>