<!DOCTYPE html>
<html>

<head>
	<title>Stevens CakeShop</title>
	<link href="public/images/logo.png" rel="icon">
	<meta name="description" content="A Touch of Magic">
	<meta name="keywords" content="A Touch of Magic, testimonials, contact">


	<link href="public/css/style.css" rel="stylesheet" type="text/css">

	<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>


</head>

<body>
	<div id="wrapper">
		{{> menuStevensshop}}
		<div id="content">
			<h2> Contact Us! </h2>
			<form method="post" action="mailto:pyap2@stevens.edu" ENCTYPE="text/plain">
				<input name="name" type="text" class="feedback-input" placeholder="Name" />
				<input name="email" type="text" class="feedback-input" placeholder="Email" />
				<textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
				<input type="submit" value="SUBMIT" />
			</form>
		</div>
	</div>
	<div id="footer">
		<h1> Stevens CakeShop </h1>
		<p class="copyright"> &copy; 2018
			<br> Designed by Pengfei Yao, Jiayi Liu, Zihao Peng, Fanyu Wang </p>
	</div>


</body>

</html>