<!DOCTYPE html>
<html>

<head>
	<title>Stevens CakeShop</title>
	<link href="public/images/logo.png" rel="icon">
	<meta charset="UTF-8">
	<meta name="description" content="A Touch of Magic">
	<meta name="keywords" content="A Touch of Magic, testimonials, flavours and fillings, wedding cakes, occasional cakes, vanilla swirl cake,
		zesty lemon cake, strawberry delight cake, Deacadent Fudge cake, Belgian Biscuit cake, Baileys Gateux cake, Tiramisu, Raspberry Ripple, 
		Sticky Carrot, Gone Bananas, Vanilla Chocolate Layer, Chocolate Layer, Chocolate Fudge">


	<link href="public/css/style.css" rel="stylesheet" type="text/css">

	<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>



</head>

<body>
	<div id="wrapper">
		{{> menuStevensshop}}
		<div id="content">
			<h2> Flavours and Fillings </h2>
			<div class="table">
				<ul>
					<li class="polaroid">
						<a href="#">
							<img src="public/images/flavour1.jpg" alt="description" width="200" height="200" />
						</a>
					</li>
					<li class="polaroid">
						<a href="#">
							<img src="public/images/flavour2.jpg" alt="description" width="200" height="200" />
						</a>
					</li>
					<li class="polaroid">
						<a href="#">
							<img src="public/images/flavour3.png" alt="description" width="200" height="200" />
						</a>
					</li>
				</ul>
			</div>
			<div class="table">
				<ul>
					<li class="columns">
						<h3>Occasional Cakes</h3>
						<p>Here are the available flavours and fillings for Occasional cakes:</p>
						<h4>Vanilla Swirls</h4>
						<p> - A light madeira double layered with vanilla Italian meringue buttercream and raspberry jam</p>
						<h4>Zesty Lemon</h4>
						<p> - Light madeira double layered with zesty lemoncurd and Italian meringue buttercream</p>
						<h4>Vanilla Chocolate Layer</h4>
						<p> - Light vanilla madeira double layered with chocolate buttercream</p>
						<h4>Chocolate Layer</h4>
						<p> - Light chocolate madeira double layered with chocolate buttercream</p>
						<h4>Chocolate Fudge</h4>
						<p> - Chocolate fudge cake double layered with chocolate buttercream</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<h1> Stevens CakeShop</h1>
		<p class="copyright"> &copy; 2018
			<br> Designed by Pengfei Yao, Jiayi Liu, Zihao Peng, Fanyu Wang</p>
	</div>


</body>

</html>