<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>General Occasion Cakes</title>
	<link rel="stylesheet" type="text/css" href="../../public/css/view.css" media="all">
	<script type="text/javascript" src="../../general occasions form/form/view.js"></script>
</head>

<body id="main_body">

	<img id="top" src="top.png" alt="">
	<div id="form_container">

		<h1>
			<a>General Occasion Cakes</a>
		</h1>
		<form id="form_1100443" class="appnitro" method="post" action="/order">
			<div class="form_description">
				<h2>General Occasion Cakes</h2>
				<p>Please fill up the form below to order cakes for general occasions.</p>
			</div>
			<ul>

				<li id="li_1">
					<label class="description" for="element_1">Name </label>
					<span>
						<input id="element_1_1" name="First" class="element text" maxlength="255" size="8" value="" />
						<label>First</label>
					</span>
					<span>
						<input id="element_1_2" name="Last" class="element text" maxlength="255" size="14" value="" />
						<label>Last</label>
					</span>
				</li>
				<li id="li_2">
					<label class="description" for="element_2">Address </label>

					<div>
						<input id="element_2_1" name="StreetAddress" class="element text large" value="" type="text">
						<label for="element_2_1">Street Address</label>
					</div>

					<div>
						<input id="element_2_2" name="AddressLine2" class="element text large" value="" type="text">
						<label for="element_2_2">Address Line 2</label>
					</div>

					<div class="left">
						<input id="element_2_3" name="City" class="element text medium" value="" type="text">
						<label for="element_2_3">City</label>
					</div>

					<div class="right">
						<input id="element_2_4" name="State" class="element text medium" value="" type="text">
						<label for="element_2_4">State / Province / Region</label>
					</div>

					<div class="left">
						<input id="element_2_5" name="ZipCode" class="element text medium" maxlength="15" value="" type="text">
						<label for="element_2_5">Postal / Zip Code</label>
					</div>

					
				</li>
				<li id="li_3">
					<label class="description" for="element_3">Phone </label>
					<span>
						<input id="element_3_1" name="Phone" class="element text" size="10" maxlength="10" value="" type="text">
						<label for="element_3_1"></label>
					</span>

				</li>
				<li id="li_4">
					<label class="description" for="element_4">Email </label>
					<div>
						<input id="element_4" name="Email" class="element text medium" type="text" maxlength="255" value="" />
					</div>
				</li>

				<li id="li_11">
					<label class="description" for="element_11">Cake Types </label>
					<div>
						<select class="element select medium" id="element_12" name="Types" onChange='change()'>
							<option value="" selected="selected"></option>
							<option value="Signature Cakes">Signature Cakes</option>
							<option value="Iced Cakes">Iced Cakes</option>
							<option value="Birthday Cakes">Birthday Cakes</option>
							<option value="Christening Cakes">Christening Cakes</option>
							<option value="Cakes for kids">Cakes for kids</option>
						</select>

						<select class="element select medium" id="element_13" name="CakesNames">
							<option value="" selected="selected"></option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="10">11</option>
							<option value="10">12</option>
							<option value="10">13</option>
							<option value="10">14</option>
							<option value="10">15</option>
						</select>


					</div>
				</li>

				<li id="li_10">
					<label class="description" for="element_10">Cake Flavours / Fillings </label>
					<div>
						<select class="element select medium" id="element_10" name="Flavours">
							<option value="" selected="selected"></option>
							<option value="Vanilla Swirls">Vanilla Swirls</option>
							<option value="Zesty Lemon">Zesty Lemon</option>
							<option value="Vanilla Chocolate Layer">Vanilla Chocolate Layer</option>
							<option value="Chocolate Chocolate Layer">Chocolate Chocolate Layer</option>
							<option value="Chocolate Fudge">Chocolate Fudge</option>
						</select>
					</div>
				</li>

				<li class="buttons">
					<input type="hidden" name="form_id" value="1100443" />
					<input id="saveForm" class="button_text" type="submit" value="Submit" />
				</li>
			</ul>
		</form>
	</div>
	<img id="bottom" src="bottom.png" alt="">
</body>

</html>