<!DOCTYPE html>
<html>

<head>
	<title>Stevens CakeShop</title>
	<meta charset="UTF-8">
	<meta name="description" content="A Touch of Magic">
	<meta name="keywords" content="A Touch of Magic, testimonials, about A Touch of Magic, birthday cake, wedding cake, christening cake, Patricia O'Flaherty,
		cork, carrigaline, special occasion cakes, ">

	<link href="public/images/logo.png" rel="icon">

	<link href="public/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="public/css/normalize.css">

	<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>


</head>

<body>
	<div id="wrapper">
		{{> menuStevensshop}}
		<div id="content">
			<h2>You do not have any orders! </h2>
		</div>
	</div>
	<div id="footer">
		<h1> Stevens CakeShop </h1>
		<p class="copyright"> &copy; 2018
			<br> Designed by Pengfei Yao, Jiayi Liu, Zihao Peng, Fanyu Wang </p>
	</div>


</body>

</html>