<!DOCTYPE html>
<html>

<head>
	<title>Stevens CakeShop</title>
	<link href="public/images/logo.png" rel="icon">
	<meta name="description" content="A Touch of Magic">
	<meta name="keywords" content="A Touch of Magic, testimonials, order cake, wedding cake, general occasion,">


	<link href="public/css/style.css" rel="stylesheet" type="text/css">

	<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>


</head>

<body>
	<div id="wrapper">
		{{> menuStevensshop}}
		<div id="content">
			<h2 class="orderpage"> Order your cake here </h2>
			<div class="table">
				<ul class="orderButton">
					<li class="button">
						<a href="generalform" target="blank">General Occasion Form</a>
					</li>
				</ul>
			</div>
			<div class="table">
				<ul>
					<li class="polaroid">
						<a href="#">
							<img src="public/images/birthday cakes/bdayCake3.jpg" alt="description" width="200" height="200" />
						</a>
					</li>
					<li class="polaroid">
						<a href="#">
							<img src="public/images/christening cakes/christeningCake1.jpg" alt="description" width="200" height="200" />
						</a>
					</li>
					<li class="polaroid">
						<a href="#">
							<img src="public/images/iced Collection/icedCake3.jpg" alt="description" width="200" height="200" />
						</a>
					</li>
				</ul>
			</div>
			<p> I will contact you about your order as soon as possible. Thanks! </p>
		</div>
	</div>
	<div id="footer">
		<h1> Stevens CakeShop </h1>
		<p class="copyright"> &copy; 2018
			<br> Designed by Pengfei Yao, Jiayi Liu, Zihao Peng, Fanyu Wang </p>
	</div>
</body>

</html>