<!DOCTYPE html>
<html>

<head>
	<title>Stevens CakeShop</title>
	<link href="public/images/logo.png" rel="icon">
	<meta name="description" content="A Touch of Magic">
	<meta name="keywords" content="A Touch of Magic, simply magic range, wedding collection, affordable wedding cakes, wedding cakes,
		Fruit cake, Chocolate fudge, Vanilla Swirl, Belgian Biscuit, simple cakes">


	<link href="public/css/style.css" rel="stylesheet" type="text/css">

	<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>


</head>

<body>
	<div id="wrapper">
		{{> menuStevensshop}}
		<div id="content">
			<h2>Simply Magic Range</h2>
			<div class="table">
				<ul>
					<li class="polaroid">
						<a href="#">
							<img src="public/images/simply1.jpg" alt="description" width="200" height="200" />
						</a>
					</li>
					<li class="polaroid">
						<a href="#">
							<img src="public/images/simply2.jpg" alt="description" width="200" height="200" />
						</a>
					</li>
					<li class="polaroid">
						<a href="#">
							<img src="public/images/simply3.jpg" alt="description" width="200" height="200" />
						</a>
					</li>
				</ul>
			</div>

			<p>Introducing our 'Simple' wedding cake collection. Influenced by our popular couture cake designs this sophisticated, accessible
				and classic collection is the perfect affordable wedding cakes solution for your special day.</p>
			<br>
			<p>This selection of wedding cakes is made using our finest ingredients and only available in three of our most popular flavours
				at $350 or an additional $50 to include Belgian Biscuit as the base tier.</p>
			<br>
			<p>Traditional fruit cake, Chocolate fudge cake and Vanilla swirl. Finished with a satin ribbon or pipped icing.</p>
			<br>
			<p class="bold"> Cake Prices 10", 8", and 6" </p>
			<ul class="range">
				<li>Fruit cake, Chocolate fudge & Vanilla Swirl $350</li>
				<li>Belgian Biscuit, Chocolate Fudge, Vanilla Swirl $400</li>
			</ul>
			<br>
			<p>We offer our clients a choice of three gorgeous wedding cakes iced in either white or ivory fondant icing. All flowers
				silk variety subject to availability and included.</p>
			<br>
			<p class="bold">To place an order, please call us on 800-123-4567</p>
			<br>
			<p>Our 'Simple' cakes are for collection only.
				<br> Your cake is supplied in a sturdy cake box for easy transportation.
				<br> Please note that design consultations are not available for this range and only available in three tiers.</p>
			<br>
			<p class="bold">50% Booking deposit required on all orders</p>
		</div>
	</div>
	<div id="footer">
		<h1> Stevens CakeShop </h1>
		<p class="copyright"> &copy; 2018
			<br> Designed by Pengfei Yao, Jiayi Liu, Zihao Peng, Fanyu Wang </p>
	</div>


</body>

</html>