<!DOCTYPE html>
<html>
	<head>
		<title>Stevens CakeShop</title>
		<meta charset="UTF-8">
		<meta name="description" content="A Touch of Magic">
		<meta name="keywords" content="A Touch of Magic, testimonials, about A Touch of Magic, birthday cake, wedding cake, christening cake, Patricia O'Flaherty,
		cork, carrigaline, special occasion cakes, ">

		<link href="public/images/logo.png" rel="icon">
		
		<link href="public/css/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="public/css/normalize.css">
		
		<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		

	</head>
	<body>
	<div id="wrapper">
			<div id="cssmenu">
				<ul>
				<ul>
					<li class='active'><a href='index'><span>Home</span></a></li>
					<li><a href='cakes'><span>Cakes</span></a></li>
					<li><a href='range'><span>Simply Magic Range</span></a></li>
					<li><a href='flavours'><span>Flavours & Fillings</span></a></li>
					<li><a href='order'><span>Order</span></a></li>
					<li class='last'><a href='contact'><span>Contact</span></a></li>
				</ul>
				</ul>
			</div>
			<div id="header">
				<h1><span>Stevens CakeShop</span></h1>
			</div>
			
	</div>
			<div id="footer">
				<h1> Stevens CakeShop </h1>
				<p class="copyright"> &copy; 2018 <br>
				Designed by Pengfei Yao, Jiayi Liu, Zihao Peng, Fanyu Wang </p>
			</div>

	
	</body>
</html>
